
.container {
    font-family:Arial,Helvetica,freesans,sans-serif;
    color: #404040;
    width: 600px;
    padding-left: 180px;
}


.container h1{
    font-size:32px;
    color:#1e1e1e;
    line-height: 1.2;
    padding-top: 5px;
}

.container h2{
    font-weight: lighter;
    color:#1e1e1e;
}

.container img{
    width:648px;
}

.container p{
    font-size:16px;
    line-height: 1.33333;
}

.pubdate p{
    font-size: 13px;
    color:#5a5a5a;
    line-height: 1.23077;
}

.seccion a{
    font-size: 20px;
    font-weight: lighter;
    color: #222222;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color:#bb1919;
}

.img-description {
    background-color: black;
    font-size: 13px;
    color: #ececec;
    padding:16px 0px 16px 16px;
    width: 631px;
    position:relative;
    bottom:4px;
    }

.introduction {
    font-weight: bold;
    font-size:17px;
    line-height: 1.33333;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(17, 103, 168, 0.3);
}