.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 600px;
    margin-left: calc((100% - 600px) / 2);
    margin-right: auto;
}


h1 {
    width: 740px;
    font-weight: 700px;
    font-style: italic;
    font-size: 1.9375rem;
    line-height:2.25rem;
}


p {
    font-size: 1.25rem;
    line-height: 1.875rem;
}

a:visited {
    color: #326891;
}

.intro {
    width: 740px;
    font-size: 1.4375rem;
    line-height: 1.875rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pub-info img{
    float:left;
    margin-right: 10px;
}

.pub-info p{
    display:inline-block;
    font-family: franklin,helvetica,arial,sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    font-size: 0.875rem;
    line-height: 1.125rem 
}

.pub-info a{
    color:#333;
    text-decoration-color: #ccc;
}

ul {
    font-family: franklin,helvetica,arial,sans-serif;
    font-size: 13px;
    list-style: none;
    padding-left: 0;
    padding-top:20px;
}

li {
    padding-right: 0.8rem;
    display:inline;
}



.img-description {
    font-family:franklin,helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight:lighter;
    line-height: 1.3em;
    color: #aaa;
    background-color:rgba(240, 240, 240, 0.6);
    width:596px;
    padding-top: 30px;
    padding-left:6px;
    padding-bottom:6px;
    margin-bottom: 50px;
}

.final-comment {
    font-size: 0.9rem;
    line-height: 1.375rem;
    font-family:franklin,helvetica,arial,sans-serif;
}

table {
    background-color:rgba(240, 240, 240, 0.6);
    width:600px;
    color:#333333;
    font-size: 16px;
    font-family:franklin,helvetica,arial,sans-serif;
}

th.fst-head {
    font-weight: lighter;
    width:168px;
    height:50px;
}

th.snd-head {
    width:168px;
    height:50px;
}

td.fst-clm {
    padding: 8px 0;
    width:224px;
    height:56px;
}

td.snd-clm {
    color: #d75c5d;
    padding: 8px 0;
    width:224px;
    height:56px;
    position: relative;
    text-align: center;
}

td.trd-clm {
    color: #2281c4;
    background-color:#b9d5eb;
    padding: 8px 0;
    width:224px;
    height:56px;
    position: relative;
    text-align: center;
}

.other-news {
    margin-top:20px;
    font-size: 18px;
    font-weight: bold;
}