
.container {
    font-family:Arial,Helvetica,freesans,sans-serif;
    color: #3f3f42;
    width: 600px;
    padding-left: 40px;
}


.container h1{
    font-family: Serif,Helvetica,Arial, sans-serif;
    font-size:2.75rem;
    font-weight: 550;
    color:#3f3f42;
    line-height: 3rem;
    padding-top: 5px;
    width:700px;
}

.container h2{
    font-family: Serif,Helvetica,Arial, sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    line-height: 2.25rem;
    color:#3f3f42;
    width:800px; 
}

.container img{
    width:800px;
}

.container p{
    font-size:16px;
    line-height: 1.33333;
}

.information {
    margin-bottom: 28px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #d2d2d2;
    width:100%;
    padding-bottom: 20px;
}

#pubdate p{
    font-size: 14px;
    color:#5a5a5a;
    line-height: 1.23077;
    margin-bottom: 25px;
    display:inline-block;
    vertical-align: middle;
}

#pubdate img{
    width: 20px;
}

.button {
    display: inline;
    border-style: solid;
    border-width: 1px;
    border-color: #d2d2d2;
    margin: 4px 16px 4px 0px;
    padding:8px;
}

.button a{
    font-size: 14px;
    text-decoration: none;
    color:#686868;
    border-bottom:none;
}

.button:hover {
    background-color: #10619f;
    color: #fff;
}

.button a:hover {
    color: #fff;
}
.seccion a{
    font-size: 20px;
    font-weight: lighter;
    color: #222222;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color:#bb1919;
}

.img-description {
    background-color: black;
    font-size: 13px;
    color: #ececec;
    padding:16px 0px 16px 16px;
    width: 783px;
    position: relative;
    bottom:4px;
    }

.introduction {
    font-weight: bold;
    font-size:17px;
    line-height: 1.33333;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(17, 103, 168, 0.3);
}

a:hover{
    color:#1167a8;
}

ul.list{
    list-style-type: square;
    margin-bottom: 35px;
}

li {
    margin-top: 16px;
    margin-bottom: 16px;
}

.analysis {
    margin-bottom: 28px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #d2d2d2;
    width:100%;
    padding-bottom: 20px;
}

.other-news {
    margin-top:20px;
    font-size: 18px;
    font-weight: bold;
}